/* Header/logo Title */
.header {
  padding: 24px;
  text-align: center;
  background: #00BFFF;
  color: white;
}

#myMapID{
	height: 100%;
	width: 100%;

}

html, body{
	height: 100%;
	margin: 0;
	padding 0;

}
